.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    background-color: #000;
  }
  
  .shape {
    position: absolute;
    background: linear-gradient(90deg, rgba(22, 32, 63, 0.8), rgba(36, 50, 94, 0.8));
    animation: move 20s infinite linear;
    border-radius: 1rem;
  }
  
  .shape1 {
    width: 60vw;
    height: 60vh;
    top: 10vh;
    left: 10vw;
    animation-duration: 25s;
    transform: rotate(15deg);
  }
  
  .shape2 {
    width: 50vw;
    height: 50vh;
    top: 40vh;
    left: 45vw;
    animation-duration: 30s;
    animation-delay: -5s;
    transform: rotate(-20deg);
  }
  
  .shape3 {
    width: 70vw;
    height: 70vh;
    top: -20vh;
    right: -10vw;
    animation-duration: 20s;
    animation-delay: -10s;
    transform: rotate(25deg);
  }
  
  .shape4 {
    width: 40vw;
    height: 40vh;
    bottom: 5vh;
    left: -5vw;
    animation-duration: 35s;
    animation-delay: -15s;
    transform: rotate(-10deg);
  }
  
  @keyframes move {
    0% {
      transform: translateZ(-100px) rotate(0deg);
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      transform: translateZ(100px) rotate(0deg);
      opacity: 0;
    }
  }